.row {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.letterbox {
  height: 40px;
  width: 40px;
  border-style: solid;
  background-color: white;
  text-align: center;
  line-height: 40px;
  float: left;
}